/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
  color: #333333;
  font-family: 'Catamaran', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

h2 {
  color: #333333;
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

p {
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

nav ul {
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

nav li {
  list-style: none;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.main {
  width: 100%;
}

.landing {
  height: 100vh;
  max-width: 750px;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../img/landing-image-2.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  width: 90%;
}

nav ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
}

#logo {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-height: 240px;
  justify-content: center;
}

.logo-image {
  object-fit: scale-down;
  width: 280px;
}

.about {
  padding: 40px 0px;
  text-align: center;
  width: 75%;
  margin: auto;
}

.about h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1em;
}

.flex-qualities-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  flex-flow: wrap;
}

.flex-qualities img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
}

.flex-qualities {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 90%;
  margin: auto;
  flex-flow: column wrap;
  padding-bottom: 40px;
}

.parallax-window {
    min-height: 500px;
    background: transparent;
    position: relative;
}

#menu-title {
  background-color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 45%;
  line-height: 2em;
  padding: 0px 15px;
  z-index: 100;
}

.menu {
  width: 90%;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.flex-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 90%;
  flex-flow: column wrap;
  padding: 20px 0px;
}

#locations-title{
  background-color: white;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 45%;
  line-height: 2em;
  padding: 0px 15px;
  z-index: 100;
}

.locations {
  width: 90%;
  margin: auto;
  padding: 40px 0px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.flex-locations {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 90%;
  flex-flow: column wrap;
  padding: 20px 0px;
}


footer {
  background-color: #333333;
  padding: 20px 0px 40px;
}

.social {
  width: 250px;
  margin: auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}

.flex-social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}

.social i {
  color: white;
}

footer h2 {
  color: white;
  font-size: 26px;
}

footer p {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}


@media screen and (min-width: 768px) {

  .landing {
     max-width: none;
   }
   
  nav {
    width: 60%;
  }

  nav ul {
    justify-content: space-between;
  }

  nav li {
    font-size: 24px;
  }

  .logo-image {
    object-fit: none;
    width: 100%;
  }

  .about h2 {
    line-height: normal;
  }

  .flex-qualities-container {
    flex-flow: nowrap;
  }

  .flex-qualities {
    width: 25%;
    margin-top: 0px;
  }

  #menu-title{
    position: absolute;
    top: 75px;
    left: 75px;
    transform: none;
  }

  .flex-menu {
    width: 35%;
  }

  #locations-title{
    position: absolute;
    top: 75px;
    left: 75px;
    transform: none;
  }

  .flex-locations {
    width: 40%;
  }

}

@media screen and (min-width: 1025px) {

   .landing {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../img/landing-image-2.jpg) no-repeat center center fixed;
   
  nav {
    width: 40%;
  }

  .flex-qualities {
    width: 30%;
  }

  .flex-menu {
    width: 40%;
  }

}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
